<div *ngIf="article">
  <h2>{{article.name | uppercase}}</h2>
  <div><span>id: </span>{{article.id}}</div>
  <div class="article">
    <label>name:
      <input [(ngModel)]="article.name" placeholder="Название статьи"/>
    </label><br>
    <label>body:
    <textarea [(ngModel)]="article.body" placeholder="Содержимое статьи"></textarea>
    </label>
  </div>
  <button (click)="goBack()">Назад</button>
  <button (click)="save()">Сохранить</button>
</div>
