<h2>Мои статьи</h2>

<div class="article">
  <label>Название статьи:<br>
    <input #articleName />
  </label><br>
  <label>Статья:<br>
    <textarea #articleBody ></textarea>
  </label><br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(articleName.value, articleBody.value); articleName.value=''">
    добавить
  </button>
</div>

<ul class="articles">
  <li *ngFor="let article of articles">
    <a routerLink="/detail/{{article.id}}">
      <span class="badge">{{article.id}}</span> {{article.name}}
    </a>
    <button class="delete" title="delete article"
      (click)="delete(article)">x</button>
  </li>
</ul>
