<div *ngIf="messageService.messages.length">

  <h2>Отладочная информация</h2>
  <button class="clear"
          (click)="messageService.clear()">Очистить</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>
