<h3>Топ статей</h3>
<div class="grid grid-pad">
  <a *ngFor="let article of articles" class="col-1-4"
      routerLink="/detail/{{article.id}}">
    <div class="module article">
      <h4>{{article.name}}</h4>
    </div>
  </a>
</div>
